@model IEnumerable<DatabaseLayer.BookTable>

@{
    ViewBag.Title = "Books - Dashboard";
}

@Html.ActionLink("New Book", "Create", null, new { @class = "btn btn-success mb-2" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Book List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShortDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Edition)
                        </th>

                        <th>
                            Book Categorie
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Edition)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BookTypeTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.BookID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.BookID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

